body {
  height: 100vh;
  width: 80%;
  margin: auto;
  background-color: grey; }
  body header {
    height: 10%;
    background-color: #0E9C66;
    margin: 0;
    padding: 0; }
    body header h1 {
      color: #EDAC00;
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 3em;
      margin: 0;
      padding: 0;
      font-family: cursive; }
      body header h1 a {
        text-decoration: none;
        margin: 0;
        color: #EDAC00; }
  body main {
    height: 85%;
    margin: 0;
    padding: 2% 0 5% 0;
    background-color: white;
    text-align: center; }
    body main .list_menu {
      margin: 0;
      height: 90%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background-color: white; }
      body main .list_menu a {
        display: block;
        width: 40%;
        box-shadow: 3px 3px 10px 3px #D8D8D8;
        text-decoration: none;
        color: black; }
        body main .list_menu a article {
          height: 100%;
          display: flex;
          flex-direction: column; }
          body main .list_menu a article h2 {
            transition: all 400ms ease-in-out;
            transform: scale(0.9);
            margin: auto;
            padding: 0;
            text-align: center; }
            body main .list_menu a article h2 span {
              font-family: cursive; }
            body main .list_menu a article h2 i {
              background: -webkit-linear-gradient(top left, red 30%, orange 70%);
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent; }
      body main .list_menu a:hover h2 {
        transform: scale(1.1);
        opacity: 0.5; }
      body main .list_menu .menu_la_note_enchantee {
        background-color: #FBBBBB;
        margin-right: 5%; }
        body main .list_menu .menu_la_note_enchantee article h2 {
          font-family: 'Devonshire', cursive;
          color: #762008; }
      body main .list_menu .menu_le_chic_a_la_francaise {
        background-color: #FBD7F4; }
        body main .list_menu .menu_le_chic_a_la_francaise article h2 {
          font-family: 'Croissant One', cursive;
          background: -webkit-linear-gradient(top left, #FAC37F 30%, #8172D9 70%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent; }
          body main .list_menu .menu_le_chic_a_la_francaise article h2 span {
            color: #FAC37F; }
      body main .list_menu .menu_le_delice_des_papilles {
        background-color: #EAEAEA;
        margin-right: 5%;
        margin-top: 5%; }
        body main .list_menu .menu_le_delice_des_papilles article h2 {
          font-family: 'Playfair Display', serif;
          background: -webkit-linear-gradient(top left, #003D7D 30%, #007CFD 70%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent; }
          body main .list_menu .menu_le_delice_des_papilles article h2 span {
            color: #003D7D; }
      body main .list_menu .menu_la_palette_du_gout {
        background-color: white;
        margin-top: 5%; }
        body main .list_menu .menu_la_palette_du_gout article h2 {
          font-family: 'Kaushan Script', cursive;
          background: -webkit-linear-gradient(top left, #4D811A 30%, #D6F1AA 70%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent; }
          body main .list_menu .menu_la_palette_du_gout article h2 span {
            color: #4D811A; }
    body main .soon {
      text-align: center;
      margin-top: 2%;
      background-color: white; }
      body main .soon .button_soon {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: orange;
        border-radius: 10px;
        background-color: #0E9C66;
        font-family: cursive;
        width: 170px; }
      body main .soon .button_soon:hover {
        background-color: rgba(14, 156, 102, 0.85); }
      body main .soon .button_soon::after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4, end) 1500ms infinite;
        animation: ellipsis steps(4, end) 1500ms infinite;
        content: "\2026";
        width: 0px; }
@keyframes ellipsis {
  to {
    width: 20px; } }
@-webkit-keyframes ellipsis {
  to {
    width: 20px; } }
  body footer {
    height: 5%;
    position: fixed;
    bottom: 0;
    width: 80%;
    background-color: #0E9C66; }
    body footer div {
      height: 100%;
      display: flex;
      color: orange;
      justify-content: space-between;
      margin: 0 0 0 0;
      padding: 0; }
      body footer div span {
        display: flex; }
        body footer div span a {
          justify-content: center;
          font-family: cursive;
          margin: auto;
          text-align: center;
          color: #EDAC00;
          text-decoration: none; }
        body footer div span a:hover {
          color: rgba(237, 172, 0, 0.85);
          animation: shake 0.5s;
          animation-iteration-count: infinite; }
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
      body footer div .Contactez_nous {
        margin-right: 1%; }
      body footer div .mentions_legales {
        margin-left: 1%; }

@media all and (max-width: 480px) {
  body {
    width: auto; }
    body header {
      height: auto; }
    body main {
      height: 100%; }
      body main .list_menu {
        flex-direction: column;
        justify-content: space-between; }
        body main .list_menu a {
          height: 20%; }
        body main .list_menu .menu_la_note_enchantee {
          margin: 2% 2% 0 2%;
          width: auto; }
          body main .list_menu .menu_la_note_enchantee article h2 {
            font-size: 0.8em; }
        body main .list_menu .menu_le_chic_a_la_francaise {
          margin: 2% 2% 0 2%;
          width: auto; }
          body main .list_menu .menu_le_chic_a_la_francaise article h2 {
            font-size: 0.8em; }
        body main .list_menu .menu_le_delice_des_papilles {
          margin: 2% 2% 0 2%;
          width: auto; }
          body main .list_menu .menu_le_delice_des_papilles article h2 {
            font-size: 0.8em; }
        body main .list_menu .menu_la_palette_du_gout {
          margin: 2% 2% 0 2%;
          width: auto; }
          body main .list_menu .menu_la_palette_du_gout article h2 {
            font-size: 0.8em; }
      body main .soon .button_soon {
        font-size: 0.8em;
        width: 38%;
        line-height: 2;
        padding: 0; }
    body footer {
      height: auto;
      width: 100%; } }
@media all and (min-width: 2000px) {
  body header h1 {
    font-size: 4em; }
  body main .list_menu a article h2 {
    font-size: 2em; }
  body main .soon .button_soon {
    width: 300px;
    font-size: 1.8em; }
  body footer {
    font-size: 2em; } }

/*# sourceMappingURL=style.css.map */
