$verdatre: #0E9C66;
$orangeatre: #EDAC00;
$grisatre: #EAEAEA;
$rougeatre: #FBBBBB;
$rosatre: #FBD7F4;
$color_box_shadow: #D8D8D8;
body {
  height: 100vh;
  width: 70%;
  margin: auto;
  background-color: grey;
  header {
    height: 10%;
    background-color: $verdatre;
    margin: 0;
    padding: 0;
    h1 {
      color: orange;
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 3em;
      margin: 0;
      padding: 0;
      font-family: cursive;
      a {
        text-decoration: none;
        margin: 0;
        color: $orangeatre;
      }
    }
  }
  main {
    height: 85%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    h2 {
      margin: auto;
      padding: 0;
      font-family:cursive;
    }
    article {
        box-shadow: 3px 3px 10px 3px $color_box_shadow;
        background-color: #FFB4B4;
        height: 90%;
        width: 90%;
        margin: auto;
        text-align: center;
        font-family: cursive;
        i {
          background:-webkit-linear-gradient(top left, red 30%, orange 70%);
          background-clip:text;
          -webkit-background-clip:text;
          color: transparent;
          font-size: 3em;
        }
        h2 {
          text-align: center;
          font-family: 'Devonshire', cursive;
          color: #762008;
        }
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          section {
            display: block;
            h3 {
              display: flex;
              flex-direction: row;
              margin-left: auto;
              margin-right: auto;
              color: #762008;
              span {
                background: linear-gradient(to top, #762008 0%, #762008 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                text-decoration: none;
                transition: background-size .8s;
              }
              span:hover {
                background-size: 100% 100%;
              }
            }
            h3::before {
              content: "";
              display: block;
              width:45%;
              border-bottom: 3px solid #762008;
              margin-left: 10%;
              margin-right: 10%;
            }
            h3::after {
              content: "";
              border-bottom: 3px solid #762008;
              display: block;
              width: 45%;
              margin-left: 10%;
              margin-right: 10%;
            }
            p {
              margin-left: 5%;
              margin-right: 5%;
              margin-top: 0;
              margin-bottom: 0;
              color: transparentize(#762008, 0.2);
              }
              p[data-descr]::after {
                content: attr(data-descr);
                margin-left: 2%;
                color: #762008;
              }
            span {
              margin: 0;
              width: auto;
            }
          }
          }
          h2 {
            font-family: 'Devonshire', cursive;
            color: #762008;
            i {
              font-size: 2em;
            }
          }
        }
      }
  footer {
      height: 5%;
      position: fixed;
      bottom: 0;
      width: 70%;
      background-color: $verdatre;
      div {
      height: 100%;
      display: flex;
      color: orange;
      justify-content: space-between;
      margin: 0 0 0 0;
      padding: 0;
      span {
        display: flex;
        a {
          justify-content: center;
          font-family: cursive;
          margin: auto;
          text-align: center;
          color: $orangeatre;
          text-decoration: none;
        }
        a:hover {
          color: transparentize($orangeatre, 0.15);
          animation: shake 0.5s;
          animation-iteration-count: infinite;
        }
        @keyframes shake {
          0% { transform: translate(1px, 1px) rotate(0deg); }
          10% { transform: translate(-1px, -2px) rotate(-1deg); }
          20% { transform: translate(-3px, 0px) rotate(1deg); }
          30% { transform: translate(3px, 2px) rotate(0deg); }
          40% { transform: translate(1px, -1px) rotate(1deg); }
          50% { transform: translate(-1px, 2px) rotate(-1deg); }
          60% { transform: translate(-3px, 1px) rotate(0deg); }
          70% { transform: translate(3px, 1px) rotate(-1deg); }
          80% { transform: translate(-1px, -1px) rotate(1deg); }
          90% { transform: translate(1px, 2px) rotate(0deg); }
          100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
      }
      .Contactez_nous {
        margin-right:1%;
      }
      .mentions_legales {
        margin-left:1%;
      }
    }
  }
}
@media all and (max-width: 480px) {
  body {
    width: auto;
    header{
      height: 10%;
      h1 {
        font-size: 2em;
      }
    }
    main {
      height: 85%;
      h2 {
        font-size: 1em;
        margin: 0;
      }
      article {
          i {
            font-size: 1.5em;
          }
          h2 {
            font-size: 1em;
          }
          div {
            section {
              h3 {
                font-size: 0.7em;
                span {
                }
                span:hover {
                }
              }
              h3::before {
              }
              h3::after {
              }
              p {
                font-size: 0.6em;
                }
                p[data-descr]::after {
                }
              span {
              }
            }
            }
            h2 {
              font-size: 1em;
              i {
                font-size: 1em;
              }
            }
          }
        }
    footer {
      width: 100%;
      height: 5%;
    }
  }
}
