$verdatre: #0E9C66;
$orangeatre: #EDAC00;
$grisatre: #EAEAEA;
$rougeatre: #FBBBBB;
$rosatre: #FBD7F4;
$color_box_shadow: #D8D8D8;
body {
  height: 100vh;
  width: 80%;
  margin: auto;
  background-color: grey;
  header {
    height: 10%;
    background-color: $verdatre;
    margin: 0;
    padding: 0;
    h1 {
      color: $orangeatre;
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 3em;
      margin: 0;
      padding: 0;
      font-family: cursive;
      a {
        text-decoration: none;
        margin: 0;
        color: $orangeatre;
      }
    }
  }
  main {
    height: 85%;
    margin: 0;
    padding: 2% 0 5% 0;
    background-color: white;
    text-align: center;
    .list_menu {
      margin: 0;
      height: 90%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background-color: white;
      a {
        display: block;
        width: 40%;
        box-shadow: 3px 3px 10px 3px $color_box_shadow;
        text-decoration: none;
        color: black;
        article {
          height: 100%;
          display: flex;
          flex-direction: column;
          h2 {
            transition: all 400ms ease-in-out;
            transform: scale(0.9);
            margin: auto;
            padding: 0;
            text-align: center;
            span {
              font-family:cursive;
            }
            i {
              background:-webkit-linear-gradient(top left, red 30%, orange 70%);
              background-clip:text;
              -webkit-background-clip:text;
              color: transparent;
            }
          }
        }
      }
      a:hover h2 {
        transform: scale(1.1);
        opacity: 0.5;
      }
      .menu_la_note_enchantee {
        background-color: $rougeatre;
        margin-right: 5%;
        article {
          h2 {
              font-family: 'Devonshire', cursive;
              color: #762008;
          }
        }
      }
      .menu_le_chic_a_la_francaise {
        background-color: $rosatre;
        article {
          h2 {
              font-family: 'Croissant One', cursive;
              background:-webkit-linear-gradient(top left, #FAC37F 30%, #8172D9 70%);
              background-clip:text;
              -webkit-background-clip:text;
              color:transparent;
              span {
                color: #FAC37F;
              }
          }
        }
      }
      .menu_le_delice_des_papilles {
        background-color: $grisatre;
        margin-right: 5%;
        margin-top: 5%;
        article {
          h2 {
              font-family: 'Playfair Display', serif;
              background:-webkit-linear-gradient(top left, #003D7D 30%, #007CFD 70%);
              background-clip:text;
              -webkit-background-clip:text;
              color:transparent;
              span {
                color: #007CFD;
                font-family: 'Handlee', cursive;
              }
          }
        }
      }
      .menu_la_palette_du_gout {
        background-color: white;
        margin-top: 5%;
        article {
          h2 {
              font-family: 'Kaushan Script', cursive;
              background:-webkit-linear-gradient(top left, #4D811A 30%, #D6F1AA 70%);
              background-clip:text;
              -webkit-background-clip:text;
              color:transparent;
              span {
                color: #4D811A;
                font-family: 'Handlee', cursive;
              }
          }
        }
      }
    }
    .soon {
      text-align: center;
      margin-top: 2%;
      background-color: white;
      .button_soon {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: orange;
        border-radius: 10px;
        background-color: $verdatre;
        font-family:cursive;
        width: 170px;
      }
      .button_soon:hover {
        background-color: transparentize($verdatre, 0.15);
      }
      .button_soon::after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 1500ms infinite;
        animation: ellipsis steps(4,end) 1500ms infinite;
        content: "\2026";
        width: 0px;
      }
      @keyframes ellipsis {
        to {
          width: 20px;
        }
      }
      @-webkit-keyframes ellipsis {
        to {
          width: 20px;
        }
      }
    }
  }
  footer {
      height: 5%;
      position: fixed;
      bottom: 0;
      width: 80%;
      background-color: $verdatre;
      div {
      height: 100%;
      display: flex;
      color: orange;
      justify-content: space-between;
      margin: 0 0 0 0;
      padding: 0;
      span {
        display: flex;
        a {
          justify-content: center;
          font-family: cursive;
          margin: auto;
          text-align: center;
          color: $orangeatre;
          text-decoration: none;
        }
        a:hover {
          color: transparentize($orangeatre, 0.15);
          animation: shake 0.5s;
          animation-iteration-count: infinite;
        }
        @keyframes shake {
          0% { transform: translate(1px, 1px) rotate(0deg); }
          10% { transform: translate(-1px, -2px) rotate(-1deg); }
          20% { transform: translate(-3px, 0px) rotate(1deg); }
          30% { transform: translate(3px, 2px) rotate(0deg); }
          40% { transform: translate(1px, -1px) rotate(1deg); }
          50% { transform: translate(-1px, 2px) rotate(-1deg); }
          60% { transform: translate(-3px, 1px) rotate(0deg); }
          70% { transform: translate(3px, 1px) rotate(-1deg); }
          80% { transform: translate(-1px, -1px) rotate(1deg); }
          90% { transform: translate(1px, 2px) rotate(0deg); }
          100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
      }
      .Contactez_nous {
        margin-right:1%;
      }
      .mentions_legales {
        margin-left:1%;
      }
    }
  }
}

@media all and (max-width: 480px) {
  body {
    width: auto;
    header {
      height: auto;
    }
    main {
      height: 100%;
      .list_menu {
        flex-direction: column;
        justify-content: space-between;
        a {
          height: 20%;
          article {
              h2 {

                i {

                }
              }
          }
        }
        .menu_la_note_enchantee {
          margin: 2% 2% 0 2%;
          width: auto;
          article {
            h2 {
              font-size: 0.8em;
            }
          }
        }
        .menu_le_chic_a_la_francaise {
          margin: 2% 2% 0 2%;
          width: auto;
          article {
            h2 {
              font-size: 0.8em;
            }
          }
        }
        .menu_le_delice_des_papilles {
          margin: 2% 2% 0 2%;
          width: auto;
          article {
            h2 {
              font-size: 0.8em;
            }
          }
        }
        .menu_la_palette_du_gout{
          margin: 2% 2% 0 2%;
          width: auto;
          article {
            h2 {
              font-size: 0.8em;
            }
          }
        }
      }
      .soon {
        .button_soon {
          font-size: 0.8em;
          width: 38%;
          line-height: 2;
          padding: 0;
        }
      }
    }
    footer {
      height: auto;
      width: 100%;
    }
  }
}
@media all and (min-width: 2000px) {
  body {
    header{
      h1 {
        font-size: 4em;
      }
    }
    main {
      .list_menu {
        a {
          article {
              h2 {
                    font-size: 2em;
                i {

                }
              }
          }
        }
        .menu_la_note_enchantee {

          article {
            h2 {
            }
          }
        }
        .menu_le_chic_a_la_francaise {
          article {
            h2 {
            }
          }
        }
        .menu_le_delice_des_papilles {
          article {
            h2 {
            }
          }
        }
        .menu_la_palette_du_gout{
          article {
            h2 {
            }
          }
        }
      }
      .soon {
        .button_soon {
          width: 300px;
          font-size: 1.8em;
        }
      }
    }
    footer {
      font-size: 2em;
    }
  }
}
